1. Készítsen lekérdezést, amely megjeleníti, hogy szobánként (SZOBA\_FK) hány olyan foglalás történt, ahol a felnőttek száma nagyobb volt a gyermekek számánál!
    
    a. A lekérdezés jelenítse meg a végösszeget is megfelelően jelölve!

In [ ]:
SELECT
    IIF(SZOBA_FK IS NULL, 'Végösszeg', CAST(SZOBA_FK AS nvarchar(9))) AS 'Szobaszám',
    COUNT(*) AS 'Foglalások száma (ahol több a felnőtt mint gyerek)'
FROM Foglalas
WHERE FELNOTT_SZAM > GYERMEK_SZAM
GROUP BY ROLLUP(SZOBA_FK)

2. Rangsoroljuk az egyes szobákat a foglalások száma, azon belül férőhely szerint!
    
    - Holtverseny esetén a sorszámok sűrűn kövessék egymást
    - Az 1-es számot a legtöbbet foglalt, azon belül legkevesebb férőhelyű szoba kapja
    - Csak a szoba azonosítója, a férőhely és a helyezés jelenjen meg

In [ ]:
SELECT
    f.SZOBA_FK AS 'Szoba azonosítója',
    sz.FEROHELY AS 'Férőhely',
    DENSE_RANK() OVER (ORDER BY COUNT(f.FOGLALAS_PK) DESC, sz.FEROHELY ASC) AS 'Helyezés'
FROM Szoba sz JOIN Foglalas f ON f.SZOBA_FK = sz.SZOBA_ID
GROUP BY f.SZOBA_FK, sz.FEROHELY

3.  Jelenítsük meg, hogy az egyes szálláshelyeken összesen hány foglalás történt!
    
    a. Csak a szálláshely neve és a foglalásszám jelenjen meg
    
    b. A listát szűrjük azon szálláshelyekre, ahol több foglalás történt, mint a Fortuna panzióban!

In [4]:
SELECT
    szh.SZALLAS_NEV AS 'Szálláshely neve',
    COUNT(f.FOGLALAS_PK) AS 'Foglalásszám'
FROM Szallashely szh JOIN Szoba sz ON szh.SZALLAS_ID=sz.SZALLAS_FK
                     JOIN Foglalas f ON sz.SZOBA_ID=f.SZOBA_FK
HAVING COUNT(f.FOGLALAS_PK) >
    (SELECT
        COUNT(*)
    FROM Szallashely szh2 JOIN Szoba sz2 ON szh2.SZALLAS_ID=sz2.SZALLAS_FK
                          JOIN Foglalas f2 ON sz2.SZOBA_ID=f2.SZOBA_FK
    WHERE szh2.SZALLAS_NEV LIKE '%Fortuna%'
    GROUP BY szh2.SZALLAS_NEV)
GROUP BY szh.SZALLAS_NEV

: Msg 156, Level 15, State 1, Line 13
Incorrect syntax near the keyword 'GROUP'.