<mark>1\. Price oszlop</mark>

1.1. Koktél árak elemzése

In [59]:
SELECT *
FROM Cocktail

CocktailSK,Name,TypeFK,Price
1,Alexander,1,"760,00"
2,Alexandra koktél,4,"800,00"
3,Americano,1,"690,00"
4,Angel's face,4,"780,00"
5,Aphotheke,9,"820,00"
6,B and B,1,"590,00"
7,Between the Sheets,1,"660,00"
8,Black Russian,3,"700,00"
9,Bloody Mary,3,"666,00"
10,Brandy Flip,1,"820,00"
11,Breakfast Egg-Nog,1,"890,00"
12,Bronx,4,"890,00"
13,Bull's Eye,1,"780,00"
14,Pezsgős koktél,6,"490,00"
15,Créme de Menthe Frappé,7,"700,00"
16,Cuba Libre,5,"890,00"
17,Daiquiri,5,"890,00"
18,Mojito,1,"860,00"
100,Corvin Dreams,1,"900,00"

1.2. Árak szerinti csoportosítás

In [61]:
DECLARE 
@min int = 700,
@max int = 850;   

SELECT 
    SUM(CASE WHEN Price < @min THEN 1 ELSE 0 end) AS 'Olcsó',
    SUM(CASE WHEN Price BETWEEN @min and @max THEN 1 ELSE 0 end) AS 'Átlagos',
    SUM(CASE WHEN PRice > @max THEN 1 ELSE 0 end) AS 'Drága'
FROM Cocktail

Olcsó,Átlagos,Drága
5,8,6

1.3.

In [60]:
SELECT
    MIN(Price) AS 'Legolcsóbb koktél',
    MAX(Price) AS 'Legdrágább koktél',
    AVG(Price) AS 'Átlag ár'
FROM Cocktail

Legolcsóbb koktél,Legdrágább koktél,Átlag ár
"490,00","900,00","767,1578"

![]()

1.2.

<mark>**2\. Name oszlop**</mark>

In [57]:
SELECT *
FROM Cocktail

CocktailSK,Name,TypeFK,Price
1,Alexander,1,"760,00"
2,Alexandra koktél,4,"800,00"
3,Americano,1,"690,00"
4,Angel's face,4,"780,00"
5,Aphotheke,9,"820,00"
6,B and B,1,"590,00"
7,Between the Sheets,1,"660,00"
8,Black Russian,3,"700,00"
9,Bloody Mary,3,"666,00"
10,Brandy Flip,1,"820,00"
11,Breakfast Egg-Nog,1,"890,00"
12,Bronx,4,"890,00"
13,Bull's Eye,1,"780,00"
14,Pezsgős koktél,6,"490,00"
15,Créme de Menthe Frappé,7,"700,00"
16,Cuba Libre,5,"890,00"
17,Daiquiri,5,"890,00"
18,Mojito,1,"860,00"
100,Corvin Dreams,1,"900,00"

2.1. Leghosszabb nevű koktél + karakterszám

In [ ]:
SELECT TOP 1 Name AS 'Leghosszabb név',
    LEN(Name) AS 'karakterszám'
FROM Cocktail
GROUP BY Name
ORDER BY 2 DESC

2.2. Legrövidebb nevű koktél + karakterszám

In [ ]:
SELECT TOP 1 Name AS 'Legrövidebb név',
    LEN(Name) AS 'karakterszám'
FROM Cocktail
GROUP BY Name
ORDER BY 2

2.3. Összes koktélszám (név)

In [ ]:
SELECT COUNT(*) AS 'Koktélok száma'
FROM Cocktail

+1: top 3 legnépszerűbb koktél típus

In [58]:
SELECT TOP 3
    t.Name AS 'Kategória',
    COUNT(*) Darab
FROM Cocktail c JOIN [Type] t ON c.TypeFK = t.TypeID
WHERE TypeFK IS not null
GROUP BY t.Name, c.TypeFK
ORDER BY COUNT(*) desc

Kategória,Darab
Brandyvel,9
Ginnel,3
Rummal,2